<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.basu.watch2gather">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Watch2Gather">
        <activity
            android:name=".VideoFilesActivity"
            android:parentActivityName=".BrowseFolderActivity"
            android:exported="false" />
        <activity
            android:name=".VideoPlayerActivity"
            android:exported="false"
            android:configChanges="orientation|screenSize|layoutDirection"
            />
        <activity
            android:name=".BrowseFolderActivity"
            android:exported="false" >
        </activity>
        <activity
            android:name=".ConnectActivity"
            android:parentActivityName=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AllowAccessActivity"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VideoCatalogueActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="sensorPortrait"
            android:launchMode="singleTop"
            android:exported="true">
        </activity>
    </application>

</manifest>